html {
    scroll-behavior: smooth;
}

body {
    background-color: aliceblue;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

.sidenav {
    height: 100%;
    width: auto; 
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px; 
    transition: 0.5s; 
    padding-right: 50px;
}

.sidenav a:hover {color: #f1f1f1;}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.content {
    margin-left: 250px;
    margin-right: 100px;
}


img {
    display: block;
    margin: auto;
    width: 40%;
    height: 40%;
}

.article-content p {
    text-align: justify;
    font-size: large;
    margin: auto;
}

.flex-settings {display: flex;}
.img-autosettings {padding: 20px;}