body {
    background-color: black;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.auto-format {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

.content {
    max-width: 600px;
    padding: 4.5rem;
    background-color: white;
}

li {padding-left: 10px;}
ul {padding-left: 20px;}