html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(241, 224, 243);
}

.hero-img {
    width: 100%;
    height: auto;
}

nav {
    margin: 0;
    text-align: center;
    width: 100%;
    font-family: arial;
} 

nav ul {
    background:rgb(83, 29, 128);
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
}

 nav ul li:hover a {
     transition: .5s;
    color:red;
}

nav ul li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    transition: .2s;
    margin-right: 15px;
}

.content {
    height: 100%;
    margin: 20px 100px;
}

nav ul li {float: right;}
.content p {text-align: justify;}

@media screen and (max-width: 768px) {
    .content {
        height: 100%;
        margin: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgb(241, 224, 243);
    }
}