body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgb(7, 0, 70) 35%, rgb(3, 0, 32), rgb(12, 5, 46));
}

.wrapper div {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: 0 0 5px white;
    border-radius: 100%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 4rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 0 0 10px white;
    animation: flow-up 2s ease-out forwards;
    opacity: 0;
}

@keyframes animation-css {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity:1;
    }

    100% {
        transform: scale(1) translateY(-150px) rotate(360deg);
        opacity:0;
    }
}

@keyframes flow-up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}